/*** Blog Carousal 2 Starts here ***/
.container {
	.site-content {
		padding-top: 15rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 80%;
		height: 50%;
		margin: 5rem 7rem;
		box-shadow: 0 15px 20px rgba(6, 44, 116, 0.2);
		border: 2px solid rgb(245, 191, 191);
		padding: 2rem 0;
	}
}

/*** Blog Carousal 2 Ends here ***/