/*** Blog Carousal 1 Starts here ***/
main {
	.blog {
		.blog-post {
			padding-top: 6rem;
		}
	}
	.blog-post {
		.blog-content {
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 80%;
			margin: 3rem 2rem;
			box-shadow: 0 15px 20px rgba(235, 8, 8, 0.2);
			
		}
	}
	.blog-content {
		.blog-title {
			padding: 2rem 0;
		}
	}
}
/*** Blog Carousal 1 Ends here ***/